version: "3.8"
services:
  nuxeo:
    image: nuxeo-loci-ai-3d-connector:2023.1.0-SNAPSHOT
    ports:
      - "8080:8080"
      - "8787:8787"
    environment:
      - JAVA_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:8787 -Djava.library.path="/usr/lib/document-filters"
      - NUXEO_DEV=true
      - NUXEO_PACKAGES=nuxeo-web-ui nuxeo-glb-preview nuxeo-thumbnail-ext nuxeo-ai-core
      - NUXEO_CLID=${NUXEO_CLID}
    volumes:
      - ./conf.d:/etc/nuxeo/conf.d
      - data:/var/lib/nuxeo
volumes:
  data: {}
